*{
				margin: 0;
				padding: 0;
				font-size: 12px;
				font-family: "微软雅黑";
			}
			.clear:after {
	display: block;
	content: "";
	clear: both;}
			.w {
	width: 1200px;
	margin: 0 auto;}
			li{list-style: none;}
			a{text-decoration: none;
			color: #ccc;}
			.left{float: left;
			}
			.right{float: right;
			margin-right: 90px;}
			.top{min-width: 1200px;
				height: 40px;
				width: 100%;
				line-height: 40px;
				background-color: #535353;
			}
			
	.top .left ul li{float: left;
	
		padding:0 10px;
		position: relative;
	}
	.top .right ul li img{padding-top: 10px;}	
	.top .left ul li ul{position: absolute;
	top: 40px;
	left: 0px;
	text-align: center;
	
	z-index: 10000;}
	.top .left ul li ul{display: none;}
	.top li span{
	padding-left: 20px;
}
.top li span:after{
	display: inline-block;
	content: ">";
	/*-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);*/
	transform: rotate(90deg);
}
.top li.active span:after{
	/*-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);*/
	transform: rotate(270deg);}
	.top ul li:hover{
	background-color: white;}
	.top ul ul li:hover{
	background-color: white;
}
.top ul li:hover a{
	color: #535353; text-align: center;}
.top ul ul{display: block;
	text-align: center;
	background-color: white;
	width: 98px;
	line-height: 32px;
	position: absolute;
	border: solid 1px gainsboro;
	/*border-top-color: #fff;*/
	top: 40px;
	left: 0px;
}
.top ul ul li:hover a{
	color: #dd2727;
}
.right .wx img{
	margin: 10px 4px;
	cursor: pointer;
}
.right{position: relative;}
.right .wx2 img{position:absolute ;top: 40px;
left: 18px;
z-index: 99999;}
/*head*/
.head{
	width: 1200px;
	margin: 0 auto;
	height: 115px;
	position: relative;
}
.head .hdlogo1{width: 240px;
height: 115px;
float: left;
}
.head .hdlogo2{
	float: left;
    width: 250px;
    font-size: 16px;
    color: #333;
    padding: 50px 85px 40px 15px;
    word-spacing: 3px;
    letter-spacing: 3px;
}
.side-ad{
	position: absolute;
	left: 0;
	top: 0px;
	z-index: 999999;
}
.hd3{
	float: left;
width: 420px;
margin-left: 0px;
padding-top: 42px;

}
.hd3 ul li{
	float: left;
width: 33.3%;
font-size: 16px;
color: #333;
line-height: 40px;

}
.hd3 ul li img{
	float: left;
width: 35px;
height: 35px;
padding-right: 6px;

}
.hdtell{

float: left;
width: 190px;
font-size: 24px;
font-family: Arial, Helvetica, sans-serif;
color: #333;
font-weight: lighter;
text-align: right;
padding-top: 22px;
line-height: 40px;

}
.hdtell img{
	z-index: 999;
	float: left;
}
/*banner*/
#banner{
				width: 1200px;
				height: 350px;
				margin: 0px auto;
				position: relative;
			}
			li{list-style: none;}
			#banner .pic{widows: 100%;
			height: 100%;
			}
			#banner .pic ul li{
				top: 0px;
				left: 0px;
				position: absolute;
			display: none;}
			#banner .pic ul li img{width: 1200px;
				height: 350px;}
			#banner .tab{
				width: 280px;
				height: 20px;
				position: absolute;
				bottom: 26px;
				left: 50%;
				margin-left: -80PX;
				
			}
			.tab ul li{float: left;
			border-radius:100% ;
			width: 12px;
			height: 12px;
				background-color: white;
				margin: 0 2px;
				cursor: pointer;}
				.tab ul li.on{background-color: #ba292d;}
				#banner .btn div{
					width: 30px;
					height: 60px;
					background: rgba(0,0,0,0.4);
					text-align: center;
					line-height: 60px;
					color: #fff;
					font-size: 24px;
					position: absolute;
					top: 50%;
					margin-top: -30px;
					cursor: pointer;
				}
				#banner .btn{display: none;}
				#leftBtn{left: 0px;}
				#rightBtn{right: 0px;}
/*contain*/
#contain{width: 1200px;
margin: 0 auto;
position: relative;
}
#contain .JJ1{
	margin-top: 28px;
}
#contain .JJ1 .fl{
	
	width: 220px;
float: left;
height: 450px;

}
.neibu{
	position: absolute;
top: 0px;
left: 0;
z-index: 1000;
width: 220px;
background-color: #ffffff;
}
.neibu h2{
	background: url(../images/zk.png) no-repeat 20px center;
	width: 170px;
padding-left: 50px;
height: 38px;
line-height: 38px;
color: #fff;
font-size: 16px;
font-weight: 400;
cursor: pointer;
}
.xinwen{
	width: 730px;
float: left;
height: 450px;
margin-left: 25px;
margin-right: 25px;

}
.xinwen .xwdh{width: 730px;
margin: 0px auto;
padding-top: 6px;
}
.tab1{width: 730px;
height: 32px;
border-bottom: 1px solid #ddd;
}
.tab1 li{padding: 0 20px;
line-height: 28px;
text-align: center;
float: left;
display: inline;
font-size: 16px;}
.now{cursor: pointer;
font-size: 16px;
color: #dd2727;
text-align: center;
height: 32px;
border-bottom: 2px solid #dd2727;
}
.tablist{height: 410px;
font-size: 14px;
font-family: "Microsoft YaHei" !important;
color: #333;
line-height: 24px;
padding: 5px;
}
.m{height: 410px;}

.news{height: 410px;}
.item{width: 360px;
height: 70px;
float: left;
position: relative;
margin: 15px 0;
}
.item img{width: 50px;
height: 50px;
border-radius: 80px;
display: block;
}
.item span{width: 50px;
height: 20px;
	display: block;
font-size: 12px;
color: #999;
text-align: center;}
.ad{text-align: justify;
padding: 0 34px 0 60px;
font-size: 14px;
color: #999;
line-height: 24px;
position: absolute;
top: 0px;

}
.adn{color: #333;
margin-bottom: 10px;
display: block;
height: 21px;
overflow: hidden;
}
.adn a{font-size: 14px;
color: #333;}
.adn a:hover{color: #DD2727;}
.small{font-size: 12px;
color: #999;
display: block;
line-height: 18px;
}
.youtu{
	
	width: 200px;
float: left;
height: 450px;
}
.neibu .lis{
	padding-left: 0px;
width: 218px;
margin-top: 0px;

height: 412px;
border: 1px solid #ddd;
}

.lis li{
	line-height: 40px;
height: 40px;

border-top: 1px #ddd solid;
margin-right: 0px;
padding-left: 20px;

}
.lis li a{display: inline-block;
height: 40px;
white-space: nowrap;
color:#999;
padding-right: 20px;
cursor: pointer;
}
.lis li a:hover {color: #DD2727;}
.lis li a.big{
	font-size: 16px;
font-family: "\5FAE\8F6F\96C5\9ED1";
color: #333;

}
.hide{position: absolute;
z-index: 999;
left: 220px;
top: 38px;
background-color: #fff;
border: 1px #ddd solid;
display: none;
border-left: 0 none;
width: 620px;
height: 412px;
overflow: hidden;
}
.hdul{width: 620px;
height: 400px;
}
.hdul li{float: left;
margin-top: 20px;
margin-left: 20px;
width: 270px;
line-height: 22px;
border-bottom: 0;
height: 40px;
font-size: 12px;
color: #999;
padding-left: 20pxs;
}
.hdul li a{font-size: 14px;
color: #333;
cursor: pointer;
}
.youtu{width: 200px;
float: left;}
.caption{width: 200px;
    height: 130px;
    margin-top: 10px;
   overflow: hidden;
    position: relative;}
.rm{font-size: 16px;
    padding-top: 6px;
    font-family: "微软雅黑";
    text-align: center;}
    .n{position: absolute;
    background: #000;
    height: 100px;
    width: 100%;
    opacity: 0.8;
    top: 100px;}
    h3{margin: 5px 10px 8px 10px;
    color: #FFF;
    font: 12px "Microsoft YaHei" ! important;
    letter-spacing: -1px;
    font-weight: bold;}
    p{padding: 0px 10px;
    height: 10px;
    color: #afafaf;
    font: 12px "Microsoft YaHei" ! important;}
/*最新开班*/
.jj2{margin-top: 48px;}
.tab4{width: 1200px;
height: 32px;
border-bottom: 1px solid #ddd
}
.kb{font-size: 22px;
font-family: "Microsoft YaHei" !important;
color: #333;
font-weight: lighter;
margin-right: 155px;

float: left;}
.hand{cursor: pointer;}
.tab4 li{padding: 0 20px;
font-size: 16px;
line-height: 30px;
text-align: center;
float: left;
display: inline;
}
.xkb{display: none;}
.tablistnb{height: 430px;
margin-top: 28px;
    height: 430px;
    font-size: 14px;
    font-family: "Microsoft YaHei" !important;
    color: #535353;
    line-height: 24px;
    padding: 0px 0px 10px 0px;
}
.kbjs{width: 1184px;
height: 217px;
margin: 20px 8px;}
.kblist{width: 100%;
height: 258px;}
.class-list li{
	height: 180px;
	width: 270px;
margin-right: 18px;
float: left;
padding: 8px;

}
.hot{width: 100%;
height: 100%;
padding: 0;
margin: 0;


}
.ava{position: relative;
	display: block;
    height: 180px;
    overflow: hidden;

width: 270px;}
.ava img{height: 100%;
width: 100%;
position: absolute;
}
.class-tittle{font-size: 14px;
font-size: 14px;
display: block;
margin: 7px 0 8px;
line-height: 22px;
height: 34px;
overflow: hidden;
}
.class-tittle a{color: #333;}
.link-list{display: block;
float: right;
color: #999;
font-size: 12px;
cursor: pointer;}
.js{color: #999;
line-height: 20px;
font-size: 12px;}
.kbjs{margin: 20px 8px;
width: 100%;}
table{border-collapse: separate;
    
    border-color: grey;
    border: 0;
    width: 1184px;
    height: 100%;}
table tr td{padding: 4px;
line-height: 24px;
font-size: 14px;}
}
.line1{border-bottom: solid 1px #ccc;
}
.line2{border-bottom: solid 1px #ccc;
}
.s9{font-family: "微软雅黑";
    font-size: 14px;
    color: #51B8F1;}
    td a{color: #333;
    font-family: "微软雅黑";
    font-size: 14px;}
   .strou{font-size: 14px;
    color: #535353;
    text-decoration: line-through;} 
   .link6{color: #51B8F1;
    text-decoration: none;
    font-size: 14px;
    text-align: center;}
/*滑动报名*/
.demo{width: 1090px;
height: 33px;
overflow: hidden;
line-height: 33px;
font-size: 14px;
font-family: '微软雅黑';
color: #333;
position: relative;
}
.demo ul{
	margin: 0px;
   padding: 0px;
	list-style: none;
	position: absolute;
	top: 0px;
	left: 0px;
	}
.demo ul li{width: 260px;
				float: left;
				padding-right: 50px;
				}
.demo ul li a{color: #333;}	
/*师资力量*/
.zxbox{width: 100%;
height: 320px;
}
.tittle1{width: 100%;
height: 40px;
padding-bottom: 20px;
}
.fl{float: left;}
.fl h2{font-size: 22px;
color: #333333;
font-family: "微软雅黑";}	
.r5{margin-top: 5px;}
.rs{float: right;}
.r5 span{background: url(../images/师资力量/more.png) no-repeat;
width: 16px;
height: 16px;
float: right;
margin-left: 6px;
margin-top: 3px;
}
.tittle1 a{color: #333333;
font-size: 14px;
line-height: 22px;}	
.hd{height: 30px;
padding: 5px 10px;
float: right;
cursor: pointer
}
.hd a{color: #DD2727;
font-size: 20px;}
/*老师图片*/	
.roll{width: 1200px;
height: 260px;
margin-top: 1px;
float: left;
background: #fff;
overflow: hidden;
}
.tempWrap{width: 1204px;
overflow: hidden;

height: 253px;}
.tempWrap ul{position: relative;
height: 100%;}	
.tempWrap ul li{float: left;
width: 270px;
padding: 1px 8px 8px 8px;
height: 244px;
margin-left: 15px;
position: relative;

}	
.mask{width: 270px;
height: 180px;
margin: 1px 8px 8px 8px;
display: none;
position: absolute;
top: 0px;
left: 0px;
background-color: rgba(0, 0, 0, .7)
}
.mask p{margin-top: 15px;
padding: 20px 12px;
text-align: left;
color: #fff;}
.js-title{height: 30px;
font-size: 14px;
line-height: 30px;
padding-top: 10px;
color: #333333;}
.js-zc{height: 20px;
font-size: 12px;
line-height: 20px;
color: #999;
}
.js-zc span{background-image: url(../images/师资力量/zan.gif);
float: right;

width: 11px;
height: 13px;
background-repeat: no-repeat;
background-position: right;
}
/*学生作品*/
.tablist2{height: 300px;
width: 1200px;

position: relative;}
.xszplist{width: 100%;
height: 258px;
position: absolute;
top: 0px;
left: 0px;}
.xszplist li{float: left;
height: 180px;
width: 270px;
margin-right: 18px;

padding: 8px;
}
.xslist{display: none;}
/*就业明星*/
.jymx{width: 100%;
height: 278px;}
.blk_18{
	position: relative;
height:228px;
margin-top: 8px;
font-size: 12px;
overflow: hidden;
width: 1200px;
background: #F3F3F3;
}
.pcont{width: 1101px;
height: 100%;
margin: 30px auto 0px auto;
/*background-color: teal;*/
overflow: hidden;}
.icon-left,.icon-right{width: 40px;
height: 68px;

margin-top:-34px ;
font-size: 40px;
top: 50%;
position: absolute;
text-align: center;}
.icon-left{left: 10px;}
.icon-right{right: 10px;}
.icon-right:hover{background-color: #333333;
cursor: pointer;
color: #CCCCCC;}
.icon-left:hover{background-color: #333333;
cursor: pointer;
color: #CCCCCC;}
.pcont{position: relative;}
.feedback-list{position: absolute;
	width:2202px;
height: 180px;
overflow: hidden;}
.feedback-list li{width: 366.667px;
height: 180px;
float: left;}
.feedback-headimg{display: block;
width: 87px;
text-align: center;
font-size: 14px;
color: #333;
float: left;
color: #333;
margin-left: 20px;
padding-top: 20px;
}
.feedback-headimg img{width: 74px;
height: 74px;
border-radius: 80px;
display: block;
margin: 0 auto 10px
}
.feedback-headimg span{height: 40px;
display: block;
overflow: hidden;
}
.feedback-info{text-align: justify;
padding: 0 34px 0 119px;
font-size: 14px;
color: #999;
line-height: 24px;
}
.feedback-desc{color: #333;
margin-bottom: 16px;
display: block;
height: 21px;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
font-size: 14px;
}
.feedback-qy{color: #666;
margin-top: 10px!important;
font-size: 14px!important;
display: block;
height: 21px;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;}
.feedback-info a{text-align: justify;
font-size: 14px;
color: #666;}
/*honor*/
.honor-in{width: 1200px;
height: 448px;}
.honor{width: 1200px;
height: 490px;}
.honor-in li{float: left;
width: 300px;
line-height: 24px;
text-align: center;
color: #535353;
margin-bottom: 15px;
}
.honor-in li img{display: block;
width: 270px;
height: 170px;
margin: 15px;
    margin-bottom: 15px;
margin-bottom: 0;
}
/*校区分布*/
.xqfb{width: 1200px;
height: 208px;}
.colloge{width: 1200px;
height: 166px;}
.xh{float: left;
font-size: 18px;
color: #333;
padding: 0 10px;
}
.line{border-right: 1px solid #ddd;
height: 40px;
margin-top: 4px;

float: left;}
.colloge li{float: left;
width: 280px;
padding: 10px;
line-height: 24px;
color: #535353;
margin-bottom: 15px;
}
.tell{float: left;
font-size: 14px;
padding: 0 10px;
}
/*合作企业*/
.hzqy{height: 150px;
width: 1200px;}
.rollBox{height: 100px;
width: 1200px;

position: relative;}
.leftBotton,.rightBotton{
	height: 68px;
	width: 40px;
	font-size: 40px;
	margin-top: -30px;
	text-align: center;
	position: absolute;
	top: 50%;
	
}
.conin{width: 1110px;
height: 100px;
position: relative;
left: 45px;
overflow: hidden;}
.rightBotton:hover{background-color: #999999; color: #CCCCCC;}
.leftBotton:hover{background-color: #999999;color: #CCCCCC;}
.rightBotton{right: 0px;}
.leftBotton{left: 0px;}
.conin ul{height: 100px;
width: 3312px;
padding: 5px;
position: absolute;}
.conin ul li{float: left;
width: 170px;
height: 80px;
border: 1px solid #ddd;
overflow: hidden;
margin: 10px 6px;
}
/*footer*/
.footer{width: 100%;
height: 634px;
margin-top: 48px;
background-color: #F3F3F3;}
.footer-contain{width: 1200px;
height: 100%;
margin: 0 auto;
/*background-color: red;*/}
.regular{width: 100%;
height: 45px;
padding-top:50px ;}
.regular li{width: 16.6%;
height: 45px;
float: left;}
.regular li img{width: 40px;
height: 40px;
float: left;
margin-right: 10px;
}
.regular li span{line-height: 22px;}
.line2{border-bottom: 1px solid #ddd;
padding: 20px 0px;
}
.navi{width: 1200px;
/*height: 343px;*/
padding: 30px 0 0 0;
box-sizing: border-box;}
.navi-left{width: 900px;
float: left;
padding-left: 10px;}
.navi-left ul li{width: 14.2%;
float: left;
font-size: 12px;
}
.fp{font-size: 14px;
color: #535353!important;
line-height: 24px!important;}
.navi-left li a{line-height: 22px;
color: #999;}
.yqlj{width: 100%;
clear: both;}
.yqlj a{color: #999;
font-size: 12px;
line-height: 22px;}
.ljdz{clear: both;
width: 100%;}
.ljdz span{float: left;
padding-right: 16px!important;
color: #999;}
.navi-right{width: 200px;
float: left;}
.dh{font-size: 22px!important;
line-height: 30px!important;
color: #333!important;}
.rq{font-size: 14px!important;
line-height: 22px!important;
color: #333!important;
padding-top: 20px;}
.copy{width: 100%;
text-align: center;
line-height: 24px;
padding: 10px 0;
color: #999;
}